.sub-total {
  display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
	align-content: center;
}
