<mat-card>
  <mat-card-header>
    <mat-card-title class="text-xl">CART TOTAL</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="sub-total">
        <span>Subtotal Price</span>
        <span>{{ cartService.cartSubTotal() | currency : "USD" }}</span>
      </div>
      <div class="sub-total">
        <span>Tax</span>
        <span>{{ cartService.cartTax() | currency : "USD" }}</span>
      </div>
      <div class="sub-total">
        <span class="total">Total</span>
        <span class="total">{{
          cartService.cartTotal() | currency : "USD"
        }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="checkout"
    ><button mat-raised-button color="primary">
      Checkout
    </button></mat-card-actions
  >
</mat-card>
