<div class="parent">
  <div class="product-details">
    <img
      src="assets/images/{{ cartItem.product.image }}.jpg"
      height="100px"
      alt="{{ cartItem.product.name }}"
    />
    <div>
      <p class="ma-0">{{ cartItem.product.name }}</p>
      <p class="ma-0 pa-0 text-md" style="padding-top: 5px">
        {{ cartItem.product.description }}
      </p>
    </div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <mat-select
        [value]="cartItem.quantity"
        (selectionChange)="onQuantityChange($event.value, cartItem)"
      >
        @for (quantity of quantityOptions; track quantity) {
  <mat-option
         
          [value]="quantity"
          >{{ quantity }}</mat-option
        >
}
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <div>
      <p class="ma-0" style="font-weight: bold">
        {{ cartItem.product.price * cartItem.quantity | currency : "USD" }}
      </p>
      <p class="ma-0 pa-0 text-md" style="padding-top: 5px">
        {{ cartItem.product.price | currency : "USD" }} each
      </p>
    </div>
  </div>
  <div>
    <button
      mat-mini-fab
      aria-label="Remove Product From Cart"
      color="warn"
      (click)="onRemove()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
