<mat-toolbar class="main-header" color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>local_cafe</mat-icon>
  </button>
  <div class="branding">Angular Coffee Shop</div>
  <span class="example-spacer"></span>
  <button mat-icon-button [routerLink]="['/products/new']">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/cart']">
    <mat-icon>shopping_cart</mat-icon>
    @if (cartCount(); as count) {
<span class="notification-label">{{
      count > 0 ? count : ""
    }}</span>
}
  </button>
</mat-toolbar>
