<mat-card>
  <mat-toolbar color="primary">Product Details</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
        @if (form.get('name')?.invalid) {
<mat-error>{{
          formUtils.getErrorMessage(form, "name")
        }}</mat-error>
}
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" #description />
        <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
        @if (form.get('description')?.invalid) {
<mat-error>{{
          formUtils.getErrorMessage(form, "description")
        }}</mat-error>
}
      </mat-form-field>

      <div class="row">
        <mat-form-field class="column">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" />
          @if (form.get('price')?.invalid) {
<mat-error>{{
            formUtils.getErrorMessage(form, "price")
          }}</mat-error>
}
        </mat-form-field>

        <mat-form-field class="column">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">Default</mat-option>
            <mat-option value="sale">Sale</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="column">
          <mat-label>Discounted</mat-label>
          <mat-select formControlName="discounted">
            <mat-option value="">No</mat-option>
            <mat-option value="discounted">Yes</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="column">
          <mat-label>Discount</mat-label>
          <input matInput formControlName="discount" type="number" />
          @if (form.get('discount')?.invalid) {
<mat-error>{{
            formUtils.getErrorMessage(form, "discount")
          }}</mat-error>
}
        </mat-form-field>

        <mat-form-field class="column">
          <mat-label>Image</mat-label>
          <mat-select formControlName="image">
            @for (image of images; track image) {
  <mat-option [value]="image">
              <img
                with="20"
                height="20"
                src="assets/images/{{ image }}.jpg"
                alt=""
              />
              {{ image }}
            </mat-option>
}
          </mat-select>
          @if (form.get('image')?.invalid) {
<mat-error>{{
            formUtils.getErrorMessage(form, "image")
          }}</mat-error>
}
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions-center">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      type="submit"
    >
      Save
    </button>
    <button
      mat-raised-button
      (click)="onCancel()"
      class="btn-space"
      type="button"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
