
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-shop-primary: mat.m2-define-palette(mat.$m2-cyan-palette, 800, 800);
$angular-shop-accent: mat.m2-define-palette(mat.$m2-teal-palette, 400);

// The warn palette is optional (defaults to red).
$angular-shop-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-shop-theme: mat.m2-define-light-theme((
  color: (
    primary: $angular-shop-primary,
    accent: $angular-shop-accent,
    warn: $angular-shop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-shop-theme);

/* You can add global styles to this file, and also import other style files */
$foreground: map-get($angular-shop-theme, foreground);
$background: map-get($angular-shop-theme, background);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pa-1 {
  padding: 1rem 1rem !important;
}

.ma-0 {
  margin: 0 0 !important;
}

.text-sm { font-size: 70% !important; }
.text-md { font-size: 80% !important; }
.text-xl { font-size: 120% !important; }
.mat-text-muted {
  color: rgba(0, 0, 0, 0.54) !important;
}
.mat-text-primary {
  color: #673AB7 !important;
}
